@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');



*{
    box-sizing: border-box;
    margin: 0px;
}


body{

    background: #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
} 


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    padding: 64px 0px;
}


nav{
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.title{
    color: #E6533C;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    margin: 0px;

}

.nav-options{

    display: flex;
    align-items: center;
    padding: 4px;
    gap: 47px;
    margin: 0px;

    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

#TMS {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.special{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 46px;
    background: #E6533C;
    padding: 8px 20px;
}

#about{
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.banner{
    width: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(425px,1fr));

} 

.banner-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 80px;
    gap: 28px;
}

.h1-58px{
    font-size: 58px;
    font-weight: 900;
    line-height: 120%;
    margin: 0px;
}

.p-16px{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    line-height: 24px; 
    letter-spacing: 0.5px;
    width: 75%;
}

.shape{
    font-family: Miama;
    font-size: 100px;
    font-weight: 400;
    line-height: 120%;
}


.btn-primary{
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0px;

}

#now{
    display: none;
}
button{
    display: flex;
    width: 224px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background: none;

    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.join {
    border: none;
    background: #E6533C;
    margin: 0;
}



.banner-right{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}


.banner-img{
    width: 349px;
    height: 580px;
    grid-area: 1/1/4/3;
 
}

.video-tuto{
    grid-area: 3/1/3/2;
    display: flex;
    align-items: center;
    align-self: center;
    width: 206px;
    height: 96px;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
}
.video-tuto{
    margin-left: 20px;
}

.video-tuto p{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.video-tuto i{
    width: 23%;
    height: 47%;
    background: white;
    border-radius: 50%;
    line-height: 1em;
    font-size: 3em;
    margin-left: 20px;
}
.video-tuto span{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
}
.workout{

    grid-area: 1/2/3/3;
    align-self: center;
    width: 193px;
    height: 98px;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}
.workout p{
    margin: 6% 15px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
}


.workout span{
    color: #FFF;
    font-size: 33px;
    font-weight: 900;
}

.habbit{
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.habbit-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 14px;
}

.habbit-text h1{
    font-size: 48px;
    font-weight: 900;
   
}

.habbit-text p{
    width: 74%;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.habbit-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    gap: 40px;
    width: 100%;
    justify-items: center;
}

.img-con{
    display: flex;
    width: 231px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.img-con img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.10);
 
}

.img-con h3{
    font-size: 18px;
    font-weight: 600;
}

.img-con p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.run{
    width: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 32px 29px 54px;
    justify-content: flex-end;
    align-items: center;
    gap: 38px;

    border-radius: 18px;
    background: #222;
}


.content{
    display: flex;
    width: 91%;
    flex-direction: column;
    gap: 34px;
}

.content div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h1{
    font-size: 48px;
    font-weight: 900;
}

.content p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    width: 80%;
}

.run img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

#run2{
    display: none;
}

.bmi-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.bmi-title h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.bmi-title p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
    margin: 0px;
}
.bmi-cal {
    width: 100%;
    align-self: stretch;
    background: #222;
    padding: 40px 20px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;


    width: 100%;
    gap:60px;
}

.calculator h1 {
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 20px 0;
}

.calculator p ,td{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    width: 90%;

}
select option{
    background: rgba(255, 255, 255, 0.10);
}
.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

table {
    margin: 0;
    border-collapse: collapse;
}

th{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.10);
    height: 50px;
    width: 400px;
    text-align:left;
}

th,td{
    padding-left: 20px;
}


.cal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.cal h1 {
    margin-bottom: 14px;
    gap: 14px;
}

form {
    margin-top:34px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0px;

}
input,select{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 500;
}
input {
    flex: 1;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
}

select {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
}

#activity {
    margin: 0px;
    margin-bottom: 34px;
}



.feature-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    width: 73%;
    max-width: 1459px;
    margin: 20px auto;
}


.fea{
    width: 100%;
    display: flex;
    padding: 20px;
    text-align: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}
.fea-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px

}
.fea-pic{
    font-size: 14px;
    font-weight: 300;
}
.fea-con{
    padding: 11% 1px;
    text-align: left;
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
}
.fea img{
    display: flex;
    width: 180px;
    height: 180px;
    border: 4px solid rgba(255, 255, 255, 0.10);
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 73%;
    max-width: 1391px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.team-mem {
    display: grid;

    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    justify-items: start;
    align-items: end;
}
.team-mem img{
    grid-area: 1/1/6/6;
}


.team-mem img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.name {
    grid-area: 2/1/3/4;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

.name h3 {
    font-size: 20px;
    font-weight: 900;
}

.name p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
}

footer {
    background: rgba(255, 255, 255, 0.10);
    padding: 40px 0;
}

#foot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 76px;
    width: 73%;
    margin: 0 auto;
    padding-top: 40px;
}

.des {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.des h3 {
    color: #E6533C;
    font-size: 52px;
    font-style: italic;
    font-weight: 800;
}

.des p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    width: 75%;
}

.get {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.get a{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
}
.get h1 {
    font-size: 24px;
    font-weight: 700;
}


hr {
    width: 80%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    margin: 40px auto;
}

#right {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}



@media (max-width: 576px) {

    body{
        
        gap:50px;
    }

    main{ 
        gap: 50px;
        padding-bottom: 50px;
    }
    header{
        padding: 0px;
        padding-bottom: 30px;
    }

    nav{
        width: 100%;
        padding: 20px;
    }
    .nav-options {
        display: none;
    }

    #TMS {
        display: block;
        margin: 0px;

    }

    .banner {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 92%;
    }

    .banner-left {
        width: 74%;
        padding-top: 20px;
    }
    .banner-right{
        width: 74%;
    }
    .h1-58px{
        font-size: 50px;
        margin: 0px;
    }
    .p-16px{
        margin: 0px;
    }

    .btn-primary{
        width: 100%;
    }
    #join1{
        display: none;
    }
    #now{
        display: block;
    }
    button{
        font-size: 16px;
        padding: 16px 24px;
    }
    .banner-img {
        width: 100%;
        height: auto;
    }

    .video-tuto{
        align-self: auto;
        width: 100%;
    }

    .workout{
        width: 100%;
    }
    .workout p{
        margin: 16% 13px;
        font-size: 14px;
    }

    .habbit{
        width: 85%;
    }
    .habbit-text h1 {
        font-size: 30px;
    }

    .habbit-text p {
        font-size: 14px;
        width: 100%;
    }

    .img-con h3 {
        font-size: 16px;
    }

    .img-con p {
        font-size: 14px;
    }

    .run {
        width: 85%;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px 32px 29px 32px;
    }
    .content{
        width: 100%;
    }
    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 14px;
    }

    #brun{
        width: 100%;
    }
   


    .bmi-title{
        width: 90%;
    }
    .bmi-title h1 {
        font-size: 30px;
    }

    table,th,td{
        width: 300px;
    }
    .bmi-title p {
        font-size: 14px;
        width: 294px;
    }

    .calculator {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
    .feature-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .cal{
        width: 100%;
    }
    .fea{
        flex-direction: column;
        text-align: center;
        gap:0px;
    }
    .fea-pic h3 {
        font-size: 20px;
    }

    .fea-con p {
        font-size: 14px;
        text-align: center;
    }

    .team{
        width: 90%;
        padding: 20px 0px;
    }

    .team-mem{
        justify-items: center;
    }
    .team-mem img{
        width: 90%;
    }
}


@media (max-width: 363px) {
    .btn-primary{
        flex-direction: column;
    }
    .banner-img img{
        width: 100%;
    }
    .cal{
        width: 93%;
    }
    .team-mem{
        width: 90%;
    }

}
